# Entorno Virtual
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
media/
staticfiles/
.env

# Editores y Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# TFG / Archivos Temporales de Análisis
temp_repos/
*.log

# Roadmap
Roadmap.md

# datos de api
datosAPI.txt
datosGrok.txt

# walktrhough
walkthrough_completo.md